@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

:root {
    --primary-color: #FFF;
/*    --secondary-color: #FF487C;*/
/*    --terciary-color: pink;*/
    
    --secondary-color: #AA8B5B;
    --terciary-color: #F7E7CE;

}

body {
    background-image: url(../img/background3.jpeg);
    background-position: top;
    background-size: cover;
}

.form {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*
    animation-name: comeIn;
    animation-duration: 0.6s;
*/
}

a {
    color: var(--secondary-color);
}

/*
@keyframes comeIn{
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}
*/

.questions {
    overflow: scroll;
    text-align: center;
    opacity: 0.85;
    height: 85vh;
    width: 45vw;
    background: #fff;
    border-top: 8px #bda659 solid;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 0 0 5px #555;
    padding: 40px;
    font-family: EB Garamond;
}

.questions h2 {
    margin-bottom: 15px;
}

.questions p {
    font-size: 16px;
    font-weight: 100;
    margin-top: 0;
}

/*
#gents{
    color: var(--secondary-color);
}

#ladies {
    color: var(--secondary-color);
}
*/

hr {
    height: 3px;
    width: 80%;
    background: var(--secondary-color);
    margin: 30px auto;
}

.color-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.color {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.color1 {
    margin: 5px;
    background: #d2b48c;
    border-radius: 50%;
}

.color2 {
    margin: 5px;
    background: #fad6a5;
    border-radius: 50%;
}

.color3 {
    margin: 5px;
    background: #fbe1bd;
    border-radius: 50%;
}

#clothes {
    margin-top: 20px;
}

.hashtag {
    font-weight: 700;
}

i {
    color: var(--secondary-color);
}

table {
    margin: auto;
}

td {
    text-align: left;
    padding-left: 5px;
}