:root {
    --primary-color: #FFF;
/*    --secondary-color: #FF487C;*/
/*    --terciary-color: pink;*/
    
    --secondary-color: #AA8B5B;
    --terciary-color: #f9cb8d;
    --forth-color: #855007;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* MENU BUTTON */

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: var(--secondary-color);
    transition: all .4s ease-out;
}

/* DATE DISPLAY */

.dateDisplay {
    position: absolute;
    right: 98px;
    top 20px;
    z-index: 3;
/*    align-self: center;*/
    width: 20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    transition: all .4s ease-out;
}

.dateBox {
/*    background: var(--secondary-color);*/
    box-shadow: 0 0 5px #555;
    text-shadow: 0 0 2px #000;
    font-family: Patua One;
    font-size: 14px;
    color: var(--secondary-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
/*    width: 80px;*/
/*    height: 70px;*/
    text-align: center;
    border: 1px var(--secondary-color) solid;
    border-radius: 2px;
}


/* MENU ITEMS */
.menu-items {
    font-family: Patua One;
    font-weight: 100;
    font-size: 15px; 
    position: absolute;
    top: 34px;
    right: 55px;
    z-index: 3;
    visibility: hidden;
    padding-right: 10px;
    transform: translate3d(0,-300%,0);
    transition-duration: .5s;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
}

.menu-items a:hover {
    color: var(--secondary-color);
    transition: all .2s ease-in;
}

/* MENU OVERLAY */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1;
}

.menu-left, .menu-right {
    font-family: Playball;
    font-size: 30px;
    color: var(--primary-color);
    background: rgba(30, 30, 30, 0.8);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.menu-right {
    margin: 0;
    padding: 0;
    transform: translate3d(0,-100%,0);
    transition: all .4s ease-out;
}

.menu-left {
    margin: 0;
    padding: 0;
    transform: translate3d(0,100%,0);
    transition: all .5s ease-out;
}


.show {
    visibility: visible;
    transform: translate3d(0,0,0);
}

.n-portrait {
    width: 200px;
    height: 200px;
    background-image: url(../img/n-portrait.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px var(--secondary-color) solid;
}

.k-portrait {
    width: 200px;
    height: 200px;
    background-image: url(../img/k-portrait.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px var(--secondary-color) solid;
}

/* HOMEPAGE */

main {
    height: 100vh;
    position: relative;
    line-height: 1;
    z-index: 0;
    padding: 60px;
    background: var(--terciary-color);
}

main:after {
    position: absolute;
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
/*    opacity: 0.9;*/
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#home {
    overflow: hidden;
    
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28%;
}

/*
#home h1 {
    margin-top: 20vh;
}
*/

.lg-heading {
    font-family: Playball;
    font-size: 100px;
    font-weight: 100;
    text-shadow: 0 0 50px var(--terciary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.sm-heading {
    padding-left: 10px;
    font-family: Playball;
    font-size: 18px;
    font-weight: 100;
}

/* FOOTER */
footer {
    font-size: 12px;
    font-family: Patua One;
    color: var(--secondary-color);
    position: absolute;
    bottom: 5px;
    right: 10px;
}
